{% extends 'BDBStudiosBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About BDB Studios</h1>
    </header>
    <article>
        <p>
            I am an open source polyglot developer with a passion for things low level.
        </p>
        <p>
            <ul>
                <li><a href="https://github.com/brettminnie" target="_blank">Github</a></li>
                <li><a href="http://uk.linkedin.com/in/brettminnie/" target="_blank">Linked In</a></li>
                <li><a href="https://osrc.dfm.io/brettminnie"  target="_blank">Open Source Report Card</a></li>
            </ul>
        </p>
    </article>
{% endblock %}
